<ion-header [translucent]="true">
  <ion-toolbar>
    <a [routerLink]="['/home']">
      <img src="../../assets/Images/LOGOblanco.png" class="logo" alt="Logo">
    </a>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Asistencia</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-qr-scanner></app-qr-scanner> <!-- Usar el componente QR aquí -->
</ion-content>
