<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Logeado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <br>
<div class="menu">
<ion-card class="escanear">
  <img alt="Silhouette of mountains" src="../../assets/Images/escanear.png" />
  <ion-card-header>
    <ion-card-title>Registrar Asistencia</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>

<ion-card class="calendario">
  <img alt="Silhouette of mountains" src="../../assets/Images/calendario.png" />
  <ion-card-header>
    <ion-card-title>Horario</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>


<ion-card class="enchufe">
  <img alt="Log Off" src="../../assets/Images/enchufe.png" />
  <ion-card-header>
    <ion-card-title> Cerrar Sesión </ion-card-title>
    <ion-card-subtitle>Card subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>
</div>>
</ion-content>
