<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="../../assets/Images/LOGOblanco.png" class="logo" alt="Logo" />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="menu">
    <!-- Tarjeta Registrar Asistencia -->
    <ion-card class="escanear">
      <img alt="Registrar Asistencia" src="../../assets/Images/escanear.png" />
      <ion-card-header>
        <ion-card-title>Registrar Asistencia</ion-card-title>
        <ion-card-subtitle>Detalles breves sobre esta opción.</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Haz clic para registrar la asistencia mediante escaneo.
      </ion-card-content>
    </ion-card>

    <!-- Tarjeta Horario -->
    <ion-card class="calendario">
      <ion-router-link routerLink="/asistencia" style="text-decoration: none; color: inherit; display: block;">
        <img alt="Horario" src="../../assets/Images/calendario.png" />
        <ion-card-header>
          <ion-card-title>Horario</ion-card-title>
          <ion-card-subtitle>Consulta tu horario.</ion-card-subtitle>
        </ion-card-header>
      </ion-router-link>
    </ion-card>

    <!-- Tarjeta Cerrar Sesión -->
    <ion-card class="enchufe">
      <img alt="Cerrar Sesión" src="../../assets/Images/enchufe.png" />
      <ion-card-header>
        <ion-card-title>Cerrar Sesión</ion-card-title>
        <ion-card-subtitle>Salir de la aplicación.</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Haz clic para cerrar sesión de manera segura.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
