<ion-header [translucent]="true">
  <ion-toolbar>
    <a [routerLink]="['/home']">
      <img src="../../assets/Images/LOGOblanco.png" class="logo">
    </a>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<br>
<br>
<br>
  <div class="menu">
    <ion-button size="default"[routerLink]="['/login']" class="login-button">
      Iniciar Sesion
    </ion-button>
    <ion-button size="default" [routerLink]="['/registro']" class="registro-button">
      Registrarse
    </ion-button>
  </div>
  

</ion-content>
