<ion-header [translucent]="true">
  <ion-toolbar>
    <a [routerLink]="['/home']">
      <img src="../../assets/Images/LOGOblanco.png" class="logo">
    </a>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<br>
<br>
<br>
  <div class="menu">
    <ion-button size="default"[routerLink]="['/login']" class="login-button">
      Iniciar Sesion
    </ion-button>
    <ion-button size="default" [routerLink]="['/registro']" class="registro-button">
      Registrarse
    </ion-button>
  </div>
  
  <ion-card style="position: fixed; width: fit-content; ">
    <img alt="Silhouette of mountains" src="../../assets/Images/escaneo-qr.gif" />
    <ion-card-header>
      <ion-card-title>Bienvenidos!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      RegistrAPP es tu solución ideal para el registro de asistencia en clases presenciales.
      Con nuestra app, los docentes generan un código QR que los alumnos escanean con sus móviles
      para registrar su presencia de manera rápida y precisa. Simplifica el proceso y elimina
       errores con una herramienta fácil de usar en Android e iOS.
    </ion-card-content>
  </ion-card>

</ion-content>
