<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="../../assets/Images/LOGOblanco.png" class="logo" alt="Logo" />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">profesor</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <!-- Input para texto del QR -->
    <ion-item>
      <ion-label position="stacked">Texto del QR</ion-label>
      <ion-input [(ngModel)]="qrData" placeholder="Escribe la informacion de la clase a registrar"></ion-input>
    </ion-item>

    <!-- Botón para generar QR -->
    <ion-button expand="full" (click)="generateQR()">Generar QR</ion-button>

    <!-- Imagen del QR generado -->
    <div *ngIf="qrCodeUrl" class="qr-container">
      <img [src]="qrCodeUrl" alt="Código QR generado">
    </div>
  </div>
</ion-content>
