<ion-header [translucent]="true">
  <ion-toolbar>
    <a [routerLink]="['/home']">
      <img src="../../assets/Images/LOGOblanco.png" class="logo">
    </a>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form (ngSubmit)="onRegister()"class="registro-form">
    <ion-item>
      <ion-input [(ngModel)]="nombre" name="nombre" label="Nombre" label-placement="floating" fill="outline" placeholder="Ingrese su nombre"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input [(ngModel)]="apellidoPaterno" name="apellidoPaterno" label="Apellido Paterno" label-placement="floating" fill="outline" placeholder="Ingrese primer apellido"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input [(ngModel)]="apellidoMaterno" name="apellidoMaterno" label="Apellido Materno" label-placement="floating" fill="outline" placeholder="Ingrese segundo apellido"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input [(ngModel)]="email" name="email" label="Correo Electrónico" label-placement="floating" fill="outline" type="email" placeholder="Ingrese su correo"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input [(ngModel)]="password" name="password" label="Contraseña" label-placement="floating" fill="outline" type="password" placeholder="Ingrese su contraseña"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input [(ngModel)]="respuestaSecreta" name="respuestaSecreta" label="Respuesta secreta" label-placement="floating" fill="outline" placeholder="Ingrese su respuesta secreta"></ion-input>
    </ion-item>
    <br>
    <ion-button expand="full" type="submit">Registrar</ion-button>
  </form>
</ion-content>